#profile-component {
  margin: 10px;
}

#spinner-container {
  display: flex;
  align-content: center;
  justify-content: center;
}
table{
  width: 100%;
}

.money-flex{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

h1{
  text-align: center;
}

.money-flex-item{
  margin: 20px;
  width: 200px;

  * {
    text-align: center;
  }
}
