<p-card header="Login" class="card-center">

  <div class="form-input">
    <div class="p-mb-3 p-text-left">Username:</div>
    <input type="text" pInputText [(ngModel)]="username">
  </div>

  <div class="form-input">
    <div class="p-mb-3 p-text-left">Password:</div>
    <p-password [(ngModel)]="password" [feedback]="false"></p-password>
  </div>

  <p-button label="Login" (click)="login()"></p-button>
  <p-button class="right" label="Register" (click)="redirectToRegister()"></p-button>
</p-card>

