<p-card header="Login" class="card-center">

  <div class="form-input">
    <div class="p-mb-3 p-text-left">Username:</div>
    <input type="text" pInputText [(ngModel)]="username">
  </div>

  <div class="form-input">
    <div class="p-mb-3 p-text-left">Password:</div>
    <p-password [(ngModel)]="password" [feedback]="false"></p-password>
  </div>

  <button mat-raised-button  color="primary" (click)="login()">Login</button>
  <button mat-stroked-button color="accent" class="right" (click)="redirectToRegister()">Register</button>
</p-card>

