<p-card header="Login" class="card-center">

  <div class="form-input">
    <div class="p-mb-3 p-text-left">Username:</div>
    <input type="text" pInputText [(ngModel)]="username">
  </div>

  <div class="form-input">
    <div class="p-mb-3 p-text-left">Password:</div>
    <p-password [(ngModel)]="password" [feedback]="false"></p-password>
  </div>

  <p-button label="Login" (click)="login()"></p-button>
  <p-button class="right" label="Register" (click)="redirectToRegister()"></p-button>
</p-card>


<p-dialog header="Dialog" [(visible)]="dialogVisible" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
  <p>{{responseMessage}}</p>
  <ng-template pTemplate="footer">
    <p-button (click)="dialogVisible=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
