<p-card header="Register" class="card-center">

    <div class="form-input">
    <div class="p-mb-3 p-text-left">Username:</div>
    <input type="text" pInputText [(ngModel)]="username">
    </div>

    <div class="form-input">
    <div class="p-mb-3 p-text-left">Password (min 8 characters):</div>
    <p-password [(ngModel)]="password" [feedback]="false"></p-password>
    </div>

    <div class="form-input">
    <div class="p-mb-3 p-text-left">Repeat Password:</div>
    <p-password [(ngModel)]="repeatPassword" [feedback]="false"></p-password>
    </div>

    <p-button label="Register" (click)="register()"></p-button>
</p-card>


<p-dialog header="Dialog" [(visible)]="dialogVisible" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
  <p>{{responseMessage}}</p>
  <ng-template pTemplate="footer">
    <p-button (click)="dialogVisible=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
